<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminAddServlet</servlet-name>
    <servlet-class>servlet.AdminAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PwdUpdateServlet</servlet-name>
    <servlet-class>servlet.PwdUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemoveServlet</servlet-name>
    <servlet-class>servlet.RemoveServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelServlet</servlet-name>
    <servlet-class>servlet.DelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WardSickbedServlet</servlet-name>
    <servlet-class>servlet.WardSickbedServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PatientServlet</servlet-name>
    <servlet-class>servlet.PatientServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AssignServlet</servlet-name>
    <servlet-class>servlet.AssignServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DrugServlet</servlet-name>
    <servlet-class>servlet.DrugServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StockServlet</servlet-name>
    <servlet-class>servlet.StockServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SymptomServlet</servlet-name>
    <servlet-class>servlet.SymptomServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PrescribeServlet</servlet-name>
    <servlet-class>servlet.PrescribeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InspectServlet</servlet-name>
    <servlet-class>servlet.InspectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LeavehospitalServlet</servlet-name>
    <servlet-class>servlet.LeavehospitalServlet</servlet-class>
  </servlet>











  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminAddServlet</servlet-name>
    <url-pattern>/AdminAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PwdUpdateServlet</servlet-name>
    <url-pattern>/PwdUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveServlet</servlet-name>
    <url-pattern>/RemoveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelServlet</servlet-name>
    <url-pattern>/DelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WardSickbedServlet</servlet-name>
    <url-pattern>/WardSickbedServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatientServlet</servlet-name>
    <url-pattern>/PatientServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AssignServlet</servlet-name>
    <url-pattern>/AssignServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DrugServlet</servlet-name>
    <url-pattern>/DrugServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StockServlet</servlet-name>
    <url-pattern>/StockServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SymptomServlet</servlet-name>
    <url-pattern>/SymptomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrescribeServlet</servlet-name>
    <url-pattern>/PrescribeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InspectServlet</servlet-name>
    <url-pattern>/InspectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LeavehospitalServlet</servlet-name>
    <url-pattern>/LeavehospitalServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
