<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>QcwxglxtMISforJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <filter-class>filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <servlet-name>*</servlet-name>
  </filter-mapping>
  <servlet>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>servlets.LoginCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Passwordupdate</display-name>
    <servlet-name>Passwordupdate</servlet-name>
    <servlet-class>servlets.PasswordupdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Passwordupdate</servlet-name>
    <url-pattern>/Passwordupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CheckArrange</display-name>
    <servlet-name>CheckArrange</servlet-name>
    <servlet-class>servlets.arrangeservlets.CheckArrangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckArrange</servlet-name>
    <url-pattern>/CheckArrange</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Arrange</display-name>
    <servlet-name>Arrange</servlet-name>
    <servlet-class>servlets.arrangeservlets.ArrangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Arrange</servlet-name>
    <url-pattern>/Arrange</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CheckWage</display-name>
    <servlet-name>CheckWage</servlet-name>
    <servlet-class>servlets.wageservlets.CheckWageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckWage</servlet-name>
    <url-pattern>/CheckWage</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Wage</display-name>
    <servlet-name>Wage</servlet-name>
    <servlet-class>servlets.wageservlets.WageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Wage</servlet-name>
    <url-pattern>/Wage</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CheckYuyue</display-name>
    <servlet-name>CheckYuyue</servlet-name>
    <servlet-class>servlets.yuyueservlets.CheckYuyueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckYuyue</servlet-name>
    <url-pattern>/CheckYuyue</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Yuyue</display-name>
    <servlet-name>Yuyue</servlet-name>
    <servlet-class>servlets.yuyueservlets.YuyueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Yuyue</servlet-name>
    <url-pattern>/Yuyue</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CheckEmployee</display-name>
    <servlet-name>CheckEmployee</servlet-name>
    <servlet-class>servlets.employeeservlets.CheckEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckEmployee</servlet-name>
    <url-pattern>/CheckEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Employee</display-name>
    <servlet-name>Employee</servlet-name>
    <servlet-class>servlets.employeeservlets.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee</servlet-name>
    <url-pattern>/Employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CheckSupplier</display-name>
    <servlet-name>CheckSupplier</servlet-name>
    <servlet-class>servlets.supplierservlets.CheckSupplierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckSupplier</servlet-name>
    <url-pattern>/CheckSupplier</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Supplier</display-name>
    <servlet-name>Supplier</servlet-name>
    <servlet-class>servlets.supplierservlets.SupplierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Supplier</servlet-name>
    <url-pattern>/Supplier</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CheckCustomer</display-name>
    <servlet-name>CheckCustomer</servlet-name>
    <servlet-class>servlets.customerservlets.CheckCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCustomer</servlet-name>
    <url-pattern>/CheckCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Customer</display-name>
    <servlet-name>Customer</servlet-name>
    <servlet-class>servlets.customerservlets.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer</servlet-name>
    <url-pattern>/Customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CheckAdmin</display-name>
    <servlet-name>CheckAdmin</servlet-name>
    <servlet-class>servlets.adminservlets.CheckAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAdmin</servlet-name>
    <url-pattern>/CheckAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>servlets.adminservlets.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CheckCheckouts</display-name>
    <servlet-name>CheckCheckouts</servlet-name>
    <servlet-class>servlets.checkoutsservlets.CheckCheckoutsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCheckouts</servlet-name>
    <url-pattern>/CheckCheckouts</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Checkouts</display-name>
    <servlet-name>Checkouts</servlet-name>
    <servlet-class>servlets.checkoutsservlets.CheckoutsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkouts</servlet-name>
    <url-pattern>/Checkouts</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CustomerAdd</display-name>
    <servlet-name>CustomerAdd</servlet-name>
    <servlet-class>servlets.customerservlets.CustomerAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAdd</servlet-name>
    <url-pattern>/CustomerAdd</url-pattern>
  </servlet-mapping>
  
  <!-- message servlets begin -->
  <servlet>
    <display-name>MessageQuery</display-name>
    <servlet-name>MessageQuery</servlet-name>
    <servlet-class>servlets.messageservlets.MessageQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageQuery</servlet-name>
    <url-pattern>/MessageQuery</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>Message</display-name>
    <servlet-name>Message</servlet-name>
    <servlet-class>servlets.messageservlets.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Message</servlet-name>
    <url-pattern>/Message</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>MessageAdd</display-name>
    <servlet-name>MessageAdd</servlet-name>
    <servlet-class>servlets.messageservlets.MessageAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageAdd</servlet-name>
    <url-pattern>/MessageAdd</url-pattern>
  </servlet-mapping>
  <!-- message servlets end -->
  
  <!-- returnvisit servlets begin -->
  <servlet>
    <display-name>ReturnVisit</display-name>
    <servlet-name>ReturnVisit</servlet-name>
    <servlet-class>servlets.returnvisitservlets.ReturnVisitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnVisit</servlet-name>
    <url-pattern>/ReturnVisit</url-pattern>
  </servlet-mapping>
  <!-- returnvisit servlets end -->
  
  <!-- membercard servlets begin -->
  <servlet>
    <display-name>MembercardQuery</display-name>
    <servlet-name>MembercardQuery</servlet-name>
    <servlet-class>servlets.membercardservlets.MembercardQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembercardQuery</servlet-name>
    <url-pattern>/MembercardQuery</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>Membercard</display-name>
    <servlet-name>Membercard</servlet-name>
    <servlet-class>servlets.membercardservlets.MembercardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Membercard</servlet-name>
    <url-pattern>/Membercard</url-pattern>
  </servlet-mapping>
  
  <!-- <servlet>
    <display-name>MembercardAdd</display-name>
    <servlet-name>MembercardAdd</servlet-name>
    <servlet-class>servlets.membercardservlets.MembercardAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembercardAdd</servlet-name>
    <url-pattern>/MembercardAdd</url-pattern>
  </servlet-mapping> -->
  <!-- membercard servlets end -->
</web-app>